[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/camcory
[access "refs/for/refs/*"]
	read = group user/camcory
	push = group user/camcory
	label-Code-Review = -2..+2 group user/camcory
	label-Verified = -1..+1 group user/camcory
	rebase = group user/camcory
	removeReviewer = group user/camcory
	submit = group user/camcory
[access "refs/heads/*"]
	read = group user/camcory
	create = group user/camcory
	push = +force group user/camcory
	pushMerge = group user/camcory
[access "refs/tags/*"]
	push = group user/camcory
	push = +force group user/camcory
